.workRequest {
  min-height: 100vh;
  background: #4452fe url("../../assets/images/launch.svg") no-repeat;
  background-position: right;
  animation-name: slideInLeft;
  -webkit-animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  .hello {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
  }

  .email-text {
    color: #ffffff;
    font-size: 17px;
  }

  .email {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;

    &:hover {
      font-weight: 600;
    }
  }
  .send-btn {
    color: #4452fe;
    font-size: 16px;
    background-color: #ffffff;
    font-weight: bold;
    width: 230px;
    height: 55px;

    &:hover {
      color: #3445fd;
    }
  }

  .request-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    color: #ffffff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-family: "DM Sans Light";
      font-size: 15px;
    }

    &:focus-within,
    &:focus {
      outline: none !important;
      box-shadow: none;
    }
  }

  .request-label {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
    background: #4452fe;
    height: 100%;
    .hello {
      font-size: 50px;
    }
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
