.home {
  max-height: 100vh;
  width: 100%;
  background: #fff url("../../../assets/images/stars-bg.png") no-repeat;
  background-size: cover;
  margin-top: 50px;

  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: both;

  .intro {
    p {
      font-size: 70px;
      line-height: normal;
    }
  }
  .get-strtd {
    background: #4452fe;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border-radius: 0;
    border: 1px solid #4452fe;

    &:hover {
      background-color: #fff;
      color: #4452fe;
      border: 1px solid #4452fe;
    }
  }
}

.space {
  background: url("../../../assets//images/space-man-bg.png") no-repeat;
  background-size: contain;
}

.space-man {
  width: 400px;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.scroll {
  span {
    color: #4452fe;
    font-size: 16px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .home {
    text-align: center;
    background-size: contain;
    min-height: 100vh;
    max-height: none;
    .intro {
      p {
        font-size: 50px;
        line-height: normal;
      }
    }

    .space-man {
      width: 200px;
    }
    .space {
      background: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home {
    min-height: 100vh;
    max-height: none;
    text-align: center;
    background-size: contain;

    .intro {
      p {
        font-size: 60px;
        line-height: normal;
      }
    }

    .space-man {
      width: 250px;
    }
    .space {
      background: none;
    }
  }
}
