.header {
  background: #ffffff;

  .work-text {
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      font-weight: bold;
    }
  }

  .menubtn {
    cursor: pointer;
  }

  .navbar {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
}
