@import "~bootstrap/scss/bootstrap";
.App {
  font-family: "DM Sans" !important;
  overflow-x: hidden;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.rocket {
  &:hover {
    animation: bounce 2s normal;
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
